<!DOCTYPE html>
<html ng-app = "bowl">

<body ng-controller = "BowlController as bowl">

  <script type="text/javascript"
  src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script type="text/javascript" src="bowlModule.js">

  var currentframes = [];

  function scoreInput(){
    var frame = [];
    var numFrame = 1;
    var display = document.getElementById("box");

    var roll1 = document.getElementById("input1").value;
    var roll2 = document.getElementById("input2").value;
    var roll3 = document.getElementById("input3").value;

    frame.push(roll1);
    if(roll1 < 10 || numFrame === 10) frame.push(roll2);
    if(numFrame === 10 && roll1 + roll2 >= 10) frame.push(roll3);

      numFrame++;
      currentframes.push(frame);
  }

  </script>

  <form>

    <input id="input1" type="number">

    <input id="input2" type="number">

    <input id="input3" type="number">

    <input type="button" onclick="scoreInput()" value="Add Frame"/>

  </form>

  <div id="box" style="border:1px solid black;width:150px;height:150px;overflow:auto">

    <ul>
      <li ng-repeat = "this in bowl.currentframes">{{this}}</li>
    </ul>

  </div>

</body>

</html>​